<form autocomplete="off">
    <div class="row mb-3">
        <div class="col-md-11">
        </div>
        <!-- <div class="col-md-3">
            <div class="form-group">
                <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject" (change)="onProjectChange($event)">
                    <option *ngFor="let item of projectList" value="{{item._id}}">{{item.name}}</option>
                </select>
            </div>
        </div> -->
        <div class="col-md-1 col-sm-2">
            <button class="btn btn-primary" type="button" (click)="openAddPackageModal(addModal)">Add</button>
        </div>
    </div>
</form>
<div class="table-responsive mt-2 mb-3">
    <table class="table table-striped list_table" style="table-layout: fixed;">
        <thead>
            <tr>
                <th width="180px">Project</th>
                <th width="180px">Name</th>
                <th width="180px">Caption </th>
                <th width="180px">Color Collection</th>
                <th width="180px">Location</th>
                <th width="180px">Active</th>
                <th width="180px">Order</th>
                <th width="180px">Actions</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="packageList.length>0">
                <tr *ngFor="let item of packageList;let i=index">
                    <td (click)="goToPackageDetails(item)">{{item?.project_name}}</td>
                    <td (click)="goToPackageDetails(item)">{{item?.name}}</td>
                    <td (click)="goToPackageDetails(item)">{{item?.caption}}</td>
                    <td (click)="goToPackageDetails(item)">
                        <div *ngFor="let col of item?.collections;let j=index">
                            {{col?.name}}
                        </div>
                    </td>
                    <td (click)="goToPackageDetails(item)">{{item?.location}}</td>
                    <td>
                        <div class="form-check form-switch pl-5">
                            <input class="form-check-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.is_active" (change)="onStatusChange(item)"
                                type="checkbox" id="flexSwitchCheckChecked{{i}}" name="is_active{{i}}">
                        </div>
                    </td>
                    <td (click)="goToPackageDetails(item)">{{item?.order}}</td>
                    <td (click)="goToPackageDetails(item)">
                        <button class="btn btn-primary btn-sm mr-2" type="button" [disabled]="i==0" (click)="reArrangePackageOrder($event,'up',i)">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-primary btn-sm mr-2" type="button" [disabled]="(i+1)==packageList.length" (click)="reArrangePackageOrder($event,'down',i)">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </button>
                        <!-- <button class="btn btn-primary btn-sm mr-2" type="button" (click)="openEditCollectionDetailsModal($event, addModal,item)">
                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                        </button> -->
                        <button class="btn btn-sm btn-danger" type="button" (click)="deletePackage($event,item)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="packageList.length == 0">
                <tr>
                    <td colspan="4" class="text-center">No package found</td>
                    <td colspan="4"></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<div class="row mt-3" *ngIf="paginationObj.total>=20">
    <div class="col-md-6">
        <div class="form-group">
            <!-- <div class="col-sm-6"> -->
            <span class="float-left" style="width:70px;margin-top: 6px;">Page Size:</span>
            <span class="float-left" style="width:85px;">
                <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="pageSize" (change)="setPageSize()">
                    <option value="">-Select-</option>
                                        <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </span>
            <span class="float-left" style="margin-top: 6px !important;margin-left: 16px !important;">{{paginationObj.total}} Record(s) Found</span>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-6">
        <nav>
            <ul class="pagination">
                <li class="page-item {{paginationObj.previousPage ==0 ?'disabled':'' }}">
                    <a class="page-link" (click)="doPaginationWise(paginationObj.previousPage)">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item {{paginationObj.previousPage ==0 ?'disabled':'' }}">
                    <a class="page-link" href="javascript:void(0);" (click)="doPaginationWise(1)">
                        First
                    </a>
                </li>
                <li class="page-item {{pagination == paginationObj.currentPage?'active':''}}" *ngFor="let pagination of paginationObj.items">
                    <a class="page-link" (click)="doPaginationWise(pagination)">{{pagination}}</a>
                </li>
                <li class="page-item {{paginationObj.nextPage ==0 ?'disabled':'' }}">
                    <a class="page-link" href="javascript:void(0);" (click)="doPaginationWise(paginationObj.totalPages)">
                        Last
                    </a>
                </li>
                <li class="page-item {{paginationObj.nextPage ==0 ?'disabled':'' }}">
                    <a class="page-link" (click)="doPaginationWise(paginationObj.nextPage)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<ng-template #addModal>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Add Package</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form autocomplete="off">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Order :
                            </label>
                            <input type="number" disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="formDetails.order" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Project
                                <span style="color:red">*</span>:</label>
                            <select disabled class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="formDetails.project_id" id="projectId">
                                <option value="">Select Project</option>
                                <option *ngFor="let item of projectList" value={{item._id}}>{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name
                                <span style="color:red">*</span>:</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="formDetails.name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Caption :
                            </label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="formDetails.caption" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Color Collection
                                <span style="color:red">*</span>:
                            </label>
                            <!-- <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="formDetails.collections" id="collection">
                                <option value="">Select Collections</option>
                                <option *ngFor="let item of collections" value={{item._id}}>{{item.name}}</option>
                            </select> -->
                            <ng-multiselect-dropdown (onDeSelectAll)="onDeSelectAll('collections',$event)" (onSelectAll)="onSelectAll('collections',$event)"
                                [placeholder]="'Select Collection'" [ngModelOptions]="{standalone: true}" [data]="collectionsList"
                                [(ngModel)]="formDetails.collections" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Locations
                                <span style="color:red">*</span>:</label>
                            <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="formDetails.location">
                                <option value="">Select Location</option>
                                <option *ngFor="let item of locationList" value={{item.name}}>{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group  pt-4">
                            <div class="custom-control custom-checkbox">
                                <input id="is_active" class="custom-control-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="formDetails.is_active">&nbsp;
                                <label class="custom-control-label" for="is_active">Active</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-secondary mr-2" (click)="modalRef.hide()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="addPackage()">Add</button>
        </div>
    </div>
</ng-template>