<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="row mt-2 ml-2">
                <div class="col-md-8 col-sm-8">
                    <div class="form-group">
                        <label> Tax Percent (%) :</label>
                        <input type="number" min="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="formDetails.percentage" class="form-control">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="form-group mt-2">
                        <label></label>
                        <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>