<div class="animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="const_hd">
                    <button class="btn btn-primary btn-sm mr-2" (click)="goToPackageCenter()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Back
                    </button> Option : {{optionDetailsObj?.name}}
                    <!-- <button style="float:right" class="btn btn-sm btn-danger mt-2" type="button" (click)="deleteColorCollection()">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button> -->
                    <span style="float:right">
                        {{optionDetailsObj?.project_name}}
                    </span>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <ngb-tabset (tabChange)="doTabFunctions($event)" [activeId]="defaultActiveTab">
                        <ngb-tab id="generalTab" title="General">
                            <ng-template ngbTabContent>
                                <app-option-general [optionId]="optionId" [optionDetailsObj]="optionDetailsObj" (getDetailsEvent)="onDetailsEvent($event)"></app-option-general>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="collectionsTab" title="Collections">
                            <ng-template ngbTabContent>
                                <app-collection-type [optionId]="optionId" [optionDetailsObj]="optionDetailsObj" (getDetailsEvent)="onDetailsEvent($event)"></app-collection-type>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="packagesTab" title="Packages">
                            <ng-template ngbTabContent>
                                <app-package-type [optionId]="optionId" [optionDetailsObj]="optionDetailsObj" (getDetailsEvent)="onDetailsEvent($event)"></app-package-type>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="optionsTab" title="Options">
                            <ng-template ngbTabContent>
                                <app-options-type [optionId]="optionId" [optionDetailsObj]="optionDetailsObj" (getDetailsEvent)="onDetailsEvent($event)"></app-options-type>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="modelsTab" title="Models">
                            <ng-template ngbTabContent>
                                <app-options-model [optionId]="optionId" [optionDetailsObj]="optionDetailsObj" (getDetailsEvent)="onDetailsEvent($event)"></app-options-model>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="unitTab" title="Units">
                            <ng-template ngbTabContent>
                                <app-options-unit [optionId]="optionId" [optionDetailsObj]="optionDetailsObj" (getDetailsEvent)="onDetailsEvent($event)"></app-options-unit>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>