<div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card dashboard-grid" style="height: 150px;background-color:#BE7EF6;">
            <div class="card-body text-center">
                <p>Total Models</p>
                <h3>{{dataList?.total_models ? dataList?.total_models :0}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card dashboard-grid" style="height: 150px;background-color:#ECA550;">
            <div class="card-body text-center">
                <p>Total Units</p>
                <h3>{{dataList.total_units ?dataList?.total_units :0}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card dashboard-grid" style="height: 150px;background-color:#6CD651;">
            <div class="card-body text-center">
                <p>Total Parkings</p>
                <h3>{{dataList.total_parkings ?dataList?.total_parkings :0}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card dashboard-grid" style="height: 150px;background-color: #dd4b39">
            <div class="card-body text-center">
                <p>Available Parkings </p>
                <h3>{{dataList.available_parkings ? dataList?.available_parkings :0}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card dashboard-grid" style="height: 150px;background-color: #D81B60">
            <div class="card-body text-center">
                <p>Total Lockers</p>
                <h3>{{dataList.total_lockers ?dataList?.total_lockers :0}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card dashboard-grid" style="height: 150px;background-color: #605ca8">
            <div class="card-body text-center">
                <p>Available Lockers</p>
                <h3>{{dataList.available_lockers ? dataList?.available_lockers :0}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card dashboard-grid" style="height: 150px;background-color: #39CCCC">
            <div class="card-body text-center">
                <p>Total Bicycles</p>
                <h3>{{dataList.total_bicycles ?dataList?.total_bicycles :0}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card dashboard-grid" style="height: 150px;background-color: #00a65a">
            <div class="card-body text-center">
                <p>Available Bicycle Parkings</p>
                <h3>{{dataList.available_bicycles ?dataList?.available_bicycles :0}}</h3>
            </div>
        </div>
    </div>
</div>