.horizontal-line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.h-235 {
    height: 285px;
    overflow: auto;
}

.h-112 {
    height: 136px;
    overflow: auto;
}
.link {
    color: #20a8d8;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}